<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>


<nav class="navbar navbar-light bg-light">
    <!-- <a class="navbar-brand" href="/">Simple Todo App</a> -->

    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden">
        <li style="display: inline">
            <a href="/" style="
              display: block;
              float: left;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            "><b>My Daily Diary</b></a>
        </li>
        <li style="display: inline">
            <a href="/AboutMe/" style="
              display: block;
              float: left;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
            "><b>About Me</b></a>
        </li>
    </ul>

</nav>

<body style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcThAGw7-41ybuSbnhQrM9iP2VDA2OVwqCqkbg&usqp=CAU);
background-repeat: no-repeat; background-attachment: fixed;
  background-size: cover;">
    <div>
        <!--================ Start Home Banner Area =================-->
        <div class="container" style="padding-top: 50px;">
            <h3 class="text-uppercase">Hello</h3>
            <h1 class="text-uppercase">I am Ximeng Chen(Simon)</h1>
        </div>
        <!--================ End Home Banner Area =================-->

        <!--================ Start About Us Area =================-->
        <div class="container" style="padding-top: 30px;">

            <h2>let’s <br>
                Introduce about <br>
                myself</h2>
            <p style="padding-top: 5px;">
                Hi, I’m Simon, Actuarial Studies and Commerce (Finance) student in UNSW, I like basketball and hope you
                love
                my stories, and I’m happy to have a conversation with you!
            </p>
        </div>

    </div>

</body>